
<%# if current_user %>
<%#= link_to "sign out ", log_out_path %>
<%# else %>
<%#= link_to "Sign In with Twitter","/auth/twitter",:class => "btn btn-sm btn-info pull-center" %>
<%# end %>



<%= form_tag  sessions_path do %>

<div class="modal-header">  
  <div class="em">  
   <h1> Login </h1>
   <p>
     <%= label_tag :email %><br/>
     <%= text_field_tag :email, params[:email] %></p>
     <p>
       <%= label_tag :password %><br/>
       <%= password_field_tag :password %>
     </p>
     
     <p class="button"><%= submit_tag 'Login'%></p>
   </div>  
  </div>
 <button type="button" class="btn btn-default" data-dismiss="modal">Close</button> 
 <% end %>

 
 

