<div class="search">
  <%= form_tag articles_path,:method=>'get' do %>
  <%= text_field_tag :search %>
  <%= submit_tag "Search" %>
  <% end %>


<a href="https://twitter.com/share" class="twitter-share-button" data-dnt="true" data-count="none" data-via="twitterapi">Tweet</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

<a href="https://twitter.com/" class="twitter-follow-button" data-show-count="false" data-lang="en" data-size = "large">Follow @twitterapi </a>
 
<script>!function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? 'http' : 'https'; 
 if (!d.getElementById(id))
  { js = d.createElement(s); js.id = id; js.src = p + '://platform.twitter.com/widgets.js'; fjs.parentNode.insertBefore(js, fjs); } }(document, 'script', 'twitter-wjs');</script> 

</div>






<%= link_to 'New Bank Account', new_article_path, :class=>"btn btn-info pull-right" %>

<h2>Account holders lists</h2>




<div class="row">
  <% @articles.each do |article| %>

  <div class="col-sm-4">
    <div class="well well-sm"style=width:"50px">

     <h4 style="color:blue">Name:<%= article.title %></h4>
     <h5>Acc no:<%= article.text%></h5> 
     <h5>firstname:<%= article.firstname%></h5>
     <h5>lastname:<%= article.lastname%></h5>
     <h5>state:<%= article.state%></h5>
     <h5>pincode:<%= article.pincode%></h5>
     <h5>phone:<%= article.phone%></h5>
     <h5>country:<%= article.country%></h5>

     <hr>
     <%= link_to 'Edit', edit_article_path(article),:class => "btn btn-sm btn-success" %> |
     <%= link_to 'Destroy', article_path(article), method: :delete, data:  { confirm: 'MADHU J Are you sure?' },:class => "btn btn-sm btn-success" %> |
     <%= link_to 'Show', article_path(article), :class => "btn btn-sm btn-success" %>

   </div>
 </div>
 <% end %>
</div>

<%= paginate @articles %>

